@import "container";
$google_blue: #2d6fd8;

.app{
  padding: 10px;
  align-items: center;
  transition: ease-in 0.2s;
  border-radius:15px;

  &:hover{
    background-color: #99c0ff;
    color: $google_blue;
    transform: scale(1.08)

  }
}

.img_style{
  height: 50px;
  width: 50px;

}








